{% extends 'base.html.twig' %}

{% block body %}
    <p>
        S'il existe un compte qui correspond à l'adresse e-mail que vous avez indiquée, un e-mail de création de nouveau mot de passe a été envoyé
        à cette adresse.
        Le lien de création de nouveau mot de passe expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'e-mail, vérifiez vos spams ou bien <a href="{{ path('app_forgot_password_request') }}">essayez à nouveau</a>.</p>
{% endblock %}
