{% extends 'base.html.twig' %}

{% block title %}Hello SuppressionController!{% endblock %}

{% block body %}
 <div class="sidebar" style="display:none;" id="sidebar">
		<button onclick="closeSidebar()" class="button">
			<iconify-icon icon="charm:cross"></iconify-icon>
		</button>
		<a href="{{path('app_connexion')}}" class="bar-item">Voir tous vos commentaires</a>
		<a href="{{path('app_connexion')}}" class="bar-item">Modifier votre mot de passe</a>
		<a href="{{path('app_suppression')}}" class="bar-item">Supprimer votre compte</a>
		<a href="{{ path('app_logout') }}" class="bar-item">Se déconnecter</a>
	</div>
  <div class="filtrer-recherche">
    <a href="">
      <iconify-icon id="arrow" icon="fe:arrow-left"></iconify-icon>
  </a>    <h1>Toilettes</h1>
    <div class="identify" onclick="openSidebar()">
      <iconify-icon id="person" icon="charm:person"></iconify-icon>
    </div>
  </div>
  <div class="container-mdp">
    <h2>Suppression du compte</h2>
    <form>
      <div class="form-checkbox">
        <input type="checkbox" id="check5">
        <label class="" for="check5">supprimer
          mes commentaires et mes notes</label>
      </div>
      <div class="form-checkbox">
        <input type="checkbox" id="check6">
        <label class="" for="check6">ne plus voir les autres
          commentaires
          et les autres notes</label>
      </div>

    </form>
    <button class="button2" type="submit">valider</button>
    <a href="">Annuler</a>
  </div>
{% endblock %}
