{% extends 'base.html.twig' %}

{% block body %}
	<div class="form">
		<div class="filtrer-recherche">
			<a href="{{path('app_accueil')}}">
				<iconify-icon id="arrow" icon="fe:arrow-left"></iconify-icon>
			</a>
		</div>
		<div class="form-inscription">
			<h1>Connexion</h1>
			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				<div class="con-form">
					<label for="inputEmail">E-mail</label>
					<input type="email" name="email" id="inputEmail" required autofocus>
				</div>
				<div class="con-form">
					<i class="fa fa-eye" id="eye1" aria-hidden="true" onclick="togglePassword1()"></i>
					<label for="inputPassword1">Mot de passe</label>
					<input type="password" name="password" id="inputPassword1" required>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				</div>
				<button class="button1 btn btn-lg btn-primary" type="submit">
					Se connecter
				</button>
			</br>
			<a href="{{path('app_forgot_password_request')}}">Mot de passe oublié ?</a>

		</form>
	</div>
</div>{% endblock %}
