<h1>Bonjour, confirmez votre adresse e-mail !</h1>

<p>
    Cliquez sur le lien pour confirmer votre adresse e-mail pour votre inscription au site "Toilettes": <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon e-mail</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A très vite !
</p>
