{% extends 'base.html.twig' %}

{% block title %}Hello NouveauMdpController!{% endblock %}

{% block body %}
  <div class="sidebar" style="display:none;" id="sidebar">
        <button onclick="closeSidebar()" class="button"> <iconify-icon icon="charm:cross"></iconify-icon></button>
        <a href="{{path('app_register')}}" class="bar-item">S’inscrire</a>
        <a href="{{path('app_login')}}" class="bar-item">Se connecter</a>
    </div>
    <div class="filtrer-recherche">
        <a href="{{path('app_accueil')}}">
            <iconify-icon id="arrow" icon="fe:arrow-left"></iconify-icon>
        </a>
        <h1>Toilettes</h1>
        <div class="identify" onclick="openSidebar()">
            <iconify-icon id="person" icon="charm:person"></iconify-icon>
        </div>
    </div>
    <div class="container-mdp">
        <h1>création d’un nouveau
            mot de passe</h1>
        <div class="con-form">
            <label for="passe">nouveau mot de passe</label>
            <input type="password" name="passe" id="inputPassword1" required>
				<i class="fa fa-eye" id="eye1" aria-hidden="true" onclick="togglePassword1()"></i>
        </div>
        <div class="con-form">
            <label for="confirmation">confirmation du mot de passe</label>
            <input type="password" name="confirmation" id="inputPassword2" required>
				<i class="fa fa-eye" id="eye2" aria-hidden="true" onclick="togglePassword2()"></i>
        </div>
        <button class="button2" type="submit">valider</button>
    </div>
{% endblock %}
