{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edition de commentaire</h1>

    {{ include('moderation/comment/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_moderation_comment_index') }}">Revenir à la liste</a>

    {{ include('moderation/comment/_delete_form.html.twig') }}
{% endblock %}
